[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pathvalidate = "*"
textual = ">=8.2.7"
tomli-w = "*"
tomli = "*"
pysui = ">=1.0.0"

[dev-packages]
doc8 = "*"
twine = "*"
build = "*"
textual-dev = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.9"
